<p>tabs-examples works!</p>


<input type="number" (change)="index = $event.target.value" />

<app-tabs #tabsCtrlRef [index]="index">
  <app-tab title="Tab 1">Tab 1 
    <button app-next-tab>Next</button>
  </app-tab>
  <app-tab title="Tab 2">Tab 2</app-tab>
  <app-tab title="Tab 3">Tab 3</app-tab>
</app-tabs>

<button (click)="tabsCtrlRef.openIndex(1)">Open 1</button>

<button (click)="tabsCtrlRef.openIndex(2)">Open 2</button>
