<div class="card-header" id="headingOne">
  <h2 class="mb-0">
    <button class="btn btn-link" (click)="toggle()">
      {{ title }}
    </button>
  </h2>
</div>

<div class="collapse" [class.show]="open">
  <div class="card-body">
    <ng-content></ng-content>
  </div>
</div>
