<p>directives-examples works!</p>

<button (click)="hide = !hide">Toggle {{ hide }}</button>

<ng-template [appUnless]="hide" let-coMaAla let-i="index">
  <p>Ala ma {{ coMaAla }}</p>
</ng-template>

<p *appUnless="hide; let coMaAla; index as i ">
  Ala ma {{ i }} szt. {{ coMaAla }}
</p>