<form #formRef="ngForm" (ngSubmit)="submit(formRef.value)">

<app-card>
    <div class="form-group">
      <label>Name</label>
      <input
        #nameModelRef="ngModel"
        type="text"
        class="form-control"
        [ngModel]="playlist.name"
        name="name"
      />
    </div>

    <div class="form-group">
      <label>Favorite</label>
      <input type="checkbox" [ngModel]="playlist.favorite" name="favorite" />
    </div>

    <div class="form-group">
      <label [style.color]="playlist.color">Color</label>

      <input type="color" [(ngModel)]="playlist.color" name="color" />
    </div>

    <ng-container ngProjectAs="footer">
      <input
        type="button"
        value="Cancel"
        class="btn btn-danger"
        (click)="cancel.emit()"
      />
      <input type="submit" value="Save" class="btn btn-success" />
    </ng-container>
  </app-card>
  
</form>
