<!-- <div class="card-group">
  <app-album-card (click)="selectAlbum(album)" 
  [album]="album"
  *ngFor="let album of results">
  </app-album-card>
</div>
 -->
<div class="card-group">
  <app-album-card [routerLink]="['/music/album',album.id]"
  [album]="album"
  *ngFor="let album of results">
  </app-album-card>
</div>