<div class="row">
  <div class="col-4">
    <h3>
      Album
    </h3>

    <app-album-card *ngIf="album$ | async as album" [album]="album">
    </app-album-card>

    <audio [src]="currentTrack?.preview_url" controls #player></audio>
  </div>
  <div class="col">
    <h3>Tracks</h3>

    <ng-container *ngIf="album$ | async as album">
      <div class="list-group">
        <div class="list-group-item" *ngFor="let track of album.tracks.items" (click)="play(track,player);">
          {{ track.name }}
        </div>
      </div>
    </ng-container>
  </div>
</div>
