
<div class="row">
  <div class="col">

    <app-search-form 
        [query]="query$ | async"
        (queryChange)="search($event)">
    </app-search-form>
  </div>
</div>

<div class="row">
  <div class="col">
    <p>{{ message }}</p>

    <ng-container *ngIf="results$ | async as results">

      <p>Found {{ results?.length }} results</p>
      
      <app-search-results [results]="results">
      </app-search-results>

    </ng-container>

      
  </div>
</div>
