<div class="list-group">
  <div
    class="list-group-item"
    [class.active]="selected?.id == playlist.id"
   
    [appHighlight]="playlist.color"
   
    (click)="select(playlist)"
    *ngFor="let playlist of playlists; index as i; let c = count; trackBy: mojafunkcja"
  >
    {{ i + 1 }}. {{ playlist.name }}
  </div>
</div>

<style>
  .list-group-item {
    border-left: 10px solid;
  }
  .has-highlight{
    font-size:30px;
  }
</style>

<!-- {{ selected | json }} -->

<!-- [ngStyle]="{ borderColor: playlist.color, color: playlist.color }" -->

<!-- (mouseenter)="$event.target.style.color = playlist.color"
(mouseleave)="$event.target.style.color = 'unset'" -->

<!-- 
   
    (mouseenter)="hover = playlist.id"  
    (mouseleave)="hover = false"
    
    [style.color]="hover == playlist.id ? playlist.color : 'unset'"

 -->
