<app-card>
  <h3 class="title">{{ playlist.name }}</h3>

  <dl [title]="playlist.name" [attr.data-id]="playlist.id">
    <dt>Name:</dt>
    <dd [style.fontSize.px]="20 + 4">{{ playlist.name }}</dd>

    <dt>Favorite</dt>
    <dd>{{ playlist.favorite ? "Yes" : "No" }}</dd>

    <dt>Color</dt>
    <dd
      [ngStyle]="{
        color: playlist.color,
        backgroundColor: playlist.color
      }"
    >
      {{ playlist.color }}
    </dd>
  </dl>

  <ng-container ngProjectAs="footer">
    <input
      type="button"
      value="Edit"
      class="btn btn-info"
      (click)="edit.emit()"
    />
  </ng-container>
  
</app-card>
