<div class="form-group mb-3" [formGroup]="queryForm">
  <input
    type="text"
    class="form-control"
    placeholder="Search"
    formControlName="query"
  />
  <p *ngIf="queryForm.pending">Please wait... checking...</p>

  <ng-container *ngIf="queryForm.get('query') as field">
    <ng-container *ngIf="field.touched || field.dirty">
      <p class="error" *ngIf="field.hasError('required')">
        Field is required
      </p>

      <p class="error" *ngIf="field.getError('minlength') as error">
        Please {{ error.requiredLength - error.actualLength }} more letters
      </p>
      <p class="error" *ngIf="field.getError('censor') as error">
        Cannot contain "{{error.badword}}" 
      </p>
    </ng-container>
  </ng-container>
</div>

<!--
  <form-messages formControlName="query">:
    
    constuctor(private parent:FormGroupDirective){
      field = parent.get(this.formControlName)
    }
  
  <form-messages [field]="queryForm.get('query')">
    <p class="error" *ngIf="field.hasError('special_validator')">
      some special validator
    </p>
  </form-messages> -->

<!-- <input [formControl]="queryForm.get('query')" /> -->

<!-- <div class="input-group-append">
  <button class="btn btn-outline-secondary" (click)="search(queryRef.value)">
    Search
  </button>
</div> -->
