.form-group .ng-invalid.ng-dirty,
.form-group .ng-invalid.ng-touched{
  border:2px solid red;
}


.form-group .ng-invalid.ng-dirty ~ .error,
.form-group .ng-invalid.ng-touched ~ .error{
  color: red;
}


.form-group.ng-pending{
  border: 1px dashed blue;
}